{% extends "base.html" %}
{% block body %}
<style>
    .item .login1 p{

        justify-content: center;
        gap: 10px;
    }
    .item .login1 p label{
        display:block;
        margin-bottom: 5px;
    }
    .item .login1 input {
        background-color: #cbc0c0;
        color: black;
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        border: 1px solid #eb796f;
    }
</style>
    <div class="conatiner" style="padding-top:200px;">
        <div class="information">
            <form class="login1" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="join" style="    font-size: 40px !important;
                padding: 0px !important;" type="submit">Login</button>
            </form>
            <p>Don't have an accounts ? <a href="{% url 'users:register' %}">Register</a></p>
        </div>
    </div>

{% endblock body %}