{% extends 'base.html' %}
{% block body %}
    <div class="conatiner" style="    padding-top: 120px;">
        <form action="{% url 'main:home' slug=request.user %}">
            <input type="text" name="searchname" placeholder="Search ...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    
    <div class="conatiner" style="    margin-top: 50px;">
        <div class="information">
            <h2>Mohamed ibrahim elhasanein</h2>
            <h3>age : 22</h3>
            <div style="display: flex;justify-content: space-between;">
                <h4>make Quick Exam : {{quickcounter}}</h4>
                <h4>make Full Exam : {{fullExam}}</h4>
            </div>
            <h4 style="font-size: 20px !important;">Role : Teacher</h4>
            <div style="display: flex;">
                <a href="{% url 'main:ExamCreatequicks' %}" class="join" style="    font-size: 40px !important;
                    padding: 12px !important;    width:315px;">Add Quick Exam</a>
                <a href="{% url 'main:ExamCreateFulls' %}" class="join" style="    font-size: 40px !important;
                    padding: 12px !important;    width:315px;">Add Full  Exam</a>
            </div>
                
        </div>
    </div>
    <div class="conatiner">
        <div class="row">
            {% for quick in euiexemam  %}
                <div class="exam">
                    <div class="exam-name">
                        <h4>{{quick.exam_name}}</h4>
                        <h6>dr : mohamed ibrahim </h6>
                    </div>
                    <div class="date">
                        <p>You end exam in : 10/2/2023 10:00 AM</p>
                    </div>
                    <hr style="    width: 50%;">
                    <p style="    text-align: center;">Your Deree from 10 is </p>
                    <a href="{% url 'main:Examupdatequicks' quick.id  %}" class="join" style="    font-size: 40px !important;
                    padding: 0px !important;">Update</a>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            {% for quick in fullExamm  %}
                <div class="exam">
                    <div class="exam-name">
                        <h4>{{quick.exam_name}}</h4>
                        <h6>dr : mohamed ibrahim </h6>
                    </div>
                    <div class="date">
                        <p>You end exam in : 10/2/2023 10:00 AM</p>
                    </div>
                    <hr style="    width: 50%;">
                    <p style="    text-align: center;">Your Deree from 10 is </p>
                    <a href="{% url 'main:ExamupdateFulls' quick.id  %}" class="join" style="    font-size: 40px !important;
                    padding: 0px !important;">Update</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}